body {
    background-color: black;
}

center {
    background-color: black;
}
.gamelist {
    background-color: green;
    width: 500px;
    height: 500px;
    box-shadow: black;
    border-radius: 10px;
    text-align: center;
}

.game {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.game:hover {
    cursor: pointer;
    transform: scale(1.5);
}